/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, Helvetica, sans-serif;
}

body{
  padding:0;
  margin: 0;
  background: #1d1b1b;
}

p{
  font-weight: 300;
  font-size: 16px;
  color: white
}

h1{
  color: white
}

h2 {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}

.face-snap-card {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
  img {
    width: 100%;
  }
}

.snapped {
  background-color: rgba(lightgreen, 0.4);
  color: rgb(35, 56, 35);
  button {
    box-shadow: lightgreen 3px 3px 7px;
    font-weight: bold;
    &:active {
      box-shadow: lightgreen 0 0 5px;

    }
  }
}