<ng-container #contentToReuse>
<div class="face-snap-card"
[ngClass]="{snapped : buttonText === 'DarkMode'}"
*ngIf="faceSnap$ | async as faceSnap"
>
<h2>{{ faceSnap.title | titlecase }}</h2>
<button routerLink="/destinations" style="color:white">Back</button>
<img *ngIf="faceSnap.imageUrl" [src]="faceSnap.imageUrl" [alt]="faceSnap.title" >
<p>{{ faceSnap.description }}</p>
<p style="color: rgb(199, 86, 86)">Mise en ligne le {{ faceSnap.createdDate | date: 'longDate'}}</p>
<p>
  <!-- <button style="color:white" (click)="onSnap()">{{buttonText}}</button> -->
 <!-- <span [ngStyle]="{ color: 'rgb(0,'+ faceSnap.snaps +',0)'}"> {{ faceSnap.snaps }}</span> -->
</p>
</div>
</ng-container>