<div class="landing-block">
  <!-- <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <label for="emailInput">Inscrivez vous à la Newsletter! </label>
    <input type="email" id="emailInput" [(ngModel)]="userEmail" name="userEmail">
    <button type="submit">Ok!</button>
  </form> -->
  <div class="introduction">Bienvenue sur le site d'ExpSharing de partage d'expérience. Ici vous pouvez consultez mais aussi partager vos expériences sur 3 sujets différents : <br>
    Vos plus beau voyage, vos expériences culinaires, et sur vos jeux vidéos préférés.</div>
  <img class="image_menu" (click)="onClickMenuDestination()" src="\assets\image\The Blind Ninja.gif"  alt="Snapface logo" >
  <div class="landing-links">
    <button  style="color:aliceblue; cursor: pointer" (click)="onClickMenuDestination()">Continuer vers le menu d'Exp Destination</button>
  </div>
  <img class="image_menu" (click)="onClickMenuCulinaire()" src="\assets\image\food.gif"  alt="Snapface logo" >
  <div class="landing-links">
    <button style="color:aliceblue; cursor: pointer" (click)="onClickMenuCulinaire()">Continuer vers le menu d'Exp Culinaire</button>
  </div>
  <img class="image_menu" (click)="onClickMenuGame()" src="\assets\image\game.gif"  alt="Snapface logo" >
  <div class="landing-links">
    <button style="color:aliceblue; cursor: pointer" (click)="onClickMenuGame()">Continuer vers le menu d'Exp Jeux Vidéo</button>
  </div>
  <footer>

    <div>Valentin's Website 2023</div>


  </footer>
</div>
