.landing-block {
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-links {
  width: 100%;
  text-align: center;
}

button{
  font-size:20 px
}

.image_menu{
  height: 40vh;
  width: 110vh;
  opacity: 0.8;
  margin-bottom: 15px;
  margin-top: 3%;
  cursor: pointer;
}

.introduction{
  color: aliceblue;
  padding-bottom: 5%;
  padding-top: 0%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  line-height:30px ;
}

footer{
  background-image: linear-gradient( rgba(6, 6, 6, 1),rgba(159, 106, 106, 0.7));
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 45px;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    margin-left: -47%;
    width:190%;
    color: white;
}