
.cube_special{
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 400px;
  left : 50px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  animation: spin 10s infinite ;
}

.face_special {
  position: absolute;
  width: 200px;
  height: 200px;

  background-color: rgba(100, 100, 100, 0.7);
  border: 1px solid #333;
}
.front  { transform: rotateY(0deg) translateZ(100px); }
.back   { transform: rotateY(180deg) translateZ(100px); }
.right  { transform: rotateY(90deg) translateZ(100px); }
.left   { transform: rotateY(-90deg) translateZ(100px); }
.top    { transform: rotateX(90deg) translateZ(100px); }
.bottom { transform: rotateX(-90deg) translateZ(100px); }

@keyframes spin {
  0%   { transform: rotateX(0deg) rotateY(0deg); }
  100% { transform: rotateX(360deg) rotateY(360deg); }
}

.cube {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 450px;
  right: 700px;
}

.cube2{
  @extend .cube;
  bottom: 50px;
  right: 700px;
}

.cube3{
  @extend .cube;
  bottom: 250px;
  right: 700px;
}
.cube4{
  @extend .cube;
  bottom: 250px;
  right: 500px;
}
.cube5{
  @extend .cube;
  bottom: 450px;
  right: 500px;
}
.cube6{
  @extend .cube;
  bottom: 550px;
  right: 600px;
}
.cube7{
  @extend .cube;
  bottom: 650px;
  right: 500px;
}
.cube8{
  @extend .cube;
  bottom: 650px;
  right: 700px;
}
.cube9{
  @extend .cube;
  bottom: 350px;
  right: 600px;
}
.cube10{
  @extend .cube;
  bottom:150px;
  right: 600px;
}
.cube11{
  @extend .cube;
  bottom: 50px;
  right: 500px;
}



.face {

  width: 100px;
  height: 100px;

  background-color: rgba(213, 55, 55, 0.7);
  border: 1px solid #333;
}

// .front  { transform: rotateY(0deg) translateZ(100px); }
// .back   { transform: rotateY(180deg) translateZ(100px); }
// .right  { transform: rotateY(90deg) translateZ(100px); }
// .left   { transform: rotateY(-90deg) translateZ(100px); }
// .top    { transform: rotateX(90deg) translateZ(100px); }
// .bottom { transform: rotateX(-90deg) translateZ(100px); }

// @keyframes spin {
//   0%   { transform: rotateX(0deg) rotateY(0deg); }
//   100% { transform: rotateX(360deg) rotateY(360deg); }
// }

.container{
  display: block;
}