
<div class="container">
  <h1 class="discussion">{{ interval$ | async}}</h1>

  <div class="cube_special ">
    <div class="face_special front" ></div>
    <div class="face_special back"></div>
    <div class="face_special right"></div>
    <div class="face_special left"></div>
    <div class="face_special top"></div>
    <div class="face_special bottom"></div>
  </div>

  </div>

  <button class="cube ">
    <div class="face"></div>
  </button>
  <button class="cube2">
    <div class="face"></div>
  </button>
  <button class="cube3">
    <div class="face"></div>
  </button>
  <button class="cube4" (click)="onViewFaceSnap()" >
    <div class="face"></div>
  </button>
  <button class="cube5">
    <div class="face"></div>
  </button>
  <button class="cube6">
    <div class="face"></div>
  </button>
  <button class="cube7">
    <div class="face"></div>
  </button>
  <button class="cube8">
    <div class="face"></div>
  </button>
  <button class="cube9">
    <div class="face"></div>
  </button>
  <button class="cube10">
    <div class="face"></div>
  </button>
  <button class="cube11">
    <div class="face"></div>
  </button>