<div class="form-card">
  <h2>NOUVEAU FACESNAP</h2>
  <p> Si vous souhaitez ajouter un URL d'image, il faut depuis une image libre de droit dans google par exemple, faire un clique gauche sur l'image, et cliquer sur "ouvrir l'image dans un nouvel onglet" et copier le lien dans le champs ci-dessous URL de l'image. </p>
  <form [formGroup]="snapForm">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" formControlName="title" id="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" type="text" formControlName="description" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label for="imageUrl">URL de l'image</label>
        <input id="imageUrl" type="text" formControlName="imageUrl">
    </div>
    <!-- Affichage de l'image -->
    <!-- <div>
      <img *ngIf="imageUrl" [src]="imageUrl" alt="Image Preview" style="max-width: 300px; max-height: 300px;" />

      <input type="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png" />
      <button style ="color:aliceblue"(click)="uploadImage()">Ajouter une image</button>
    </div> -->
    <!-- <div class="form-group">
        <label for="location">Lieu</label>
        <input id="location" type="text" formControlName="location">
    </div> -->
    <div class="action-buttons">
      <button type="submit" style ="color:aliceblue" (click)="onSubmitForm()" [disabled]="snapForm.invalid">Enregistrer</button>
    </div>
  </form>
</div>
<div class="face-snap-card" *ngIf="faceSnapPreview$ |async as faceSnap" >
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
  <img *ngIf="faceSnap.imageUrl" [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
</div>